{% include 'header.html' %}
    <div class="mx-auto">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="text-center"><strong>Configurações</strong></h2>
            <div class="card">
                <div class="card-body">
                    <form class="form-signin" action="" method="POST">
                        <h3 class="text-center mb-3">Adicionar cadastro</h3>
                        <div id="config">
                            <div class="row my-3">
                                <div class="col-md-2">
                                    <label for="tipo">Tipo de cadastro</label>
                                    <select class="custom-select" name="tipo" id="tipo">
                                        <option value="usuario">Usuário</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <label for="nome">Nome</label>
                                    <input type="text" id="nome" name="nome" class="form-control" placeholder="João das neves" required value="{% if cadastro %}{{cadastro.cad_nome}}{% endif %}" >                                        
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <label for="usuario">Usuário</label>
                                    <input type="text" id="usuario" name="usuario" class="form-control" placeholder="joao" required value="{% if cadastro %}{{cadastro.cad_usuario}}{% endif %}" >
                                </div>
                                <div class="col-md-6">
                                    <label for="senha">Senha</label>
                                    <input type="password" id="senha" name="senha" class="form-control" required value="{% if cadastro %}{{cadastro.cad_senha}}{% endif %}" >
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-info">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
