{% include 'header.html' %}
    <div class="mx-auto">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="text-center"><strong>Configurações</strong></h2>
            <div class="alert alert-warning" role="alert"><i class="fas fa-exclamation-triangle"></i> O comando deve seguir as regras descritas abaixo</div>
            <div class="card">
                <div class="card-body">
                    <form class="form-signin" action="" method="POST">
                        <h3 class="text-center mb-3">Adicionar compilador</h3>
                        <div>
                            <p>Utilize as constantes abaixo funcionamento do compilador:</p>
                            <ul>
                                <li><strong>{!source_code!}</strong> : O local do upload do arquivo</li>
                                <li><strong>{!intxt!}</strong> : O arquivo de entrada do código utilizando o operador '<' antes</li>
                                <li><strong>{!outtxt!}</strong> : O arquivo de saída do código utilizando o operador '>' antes</li>
                                <li class="mb-3"><strong>{!out!}</strong> : O local do arquivo compilado <i>(opicional)</i></li>
                                <i>Exemplo: /usr/bin/python2.7 {!source_code!} < {!intxt!} > {!outtxt!}</i>
                            </ul>
                        </div>
                        <div id="config">
                            <div class="row my-3">
                                <div class="col-md-2">
                                    <label for="extensao">Extensão <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Exemplos: py, c, java"></i></label>
                                    <input type="text" id="extensao" name="extensao" class="form-control" placeholder="py" required value="{% if compilador %}{{compilador.com_extensao}}{% endif %}" >                                        
                                </div>
                                <div class="col-md-8">
                                    <label for="comando">Comando <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Exemplo: /usr/bin/python2.7 {!source_code!} < !intxt! > {!outtxt!}"></i></label>
                                    <input type="text" id="comando" name="comando" class="form-control" placeholder="/usr/bin/python2.7 {!source_code!} < {!intxt!} > {!outtxt!}" required value="{% if compilador %}{{compilador.com_comando}}{% endif %}" >
                                </div>
                                <div class="col-md-2">
                                    <label for="entrada">Tipo de entrada <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Entrada a ser recebida no programa enviado"></i></label>
                                    <select class="custom-select" name="entrada" id="entrada">
                                        <option value="texto">Texto</option>
                                        <option value="json">JSON</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-info">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
