<!DOCTYPE html>
<html>

<head>
    <title>Rubik Platform</title>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.10.1-web/css/all.css">
</head>

<body class="bg-light">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class="navbar-brand my-0 mr-md-auto" href="/home">
            <img src="/static/img/LogoRubik.png" height="50" class="d-inline-block align-top" alt="">
        </a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/configuracoes"><i class="fas fa-cogs"></i> Configurações</a>
        </nav>
        <a class="btn btn-outline-primary" href="logout">Sair</a>
    </div>
    <div class="mx-auto">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="text-center mb-3"><strong>Configurações</strong></h2>
            <div class="card my-5">
                <div class="card-body">
                    <h3 class="text-center mb-3">Capturar cores do cubo</h3>
                    <p class="text-center">Para captura é necessario ter uma camêra conectada e o arduíno rodando</p>
                    <div class="text-center">
                        <a class="btn btn-info" onclick="return confirm('Podemos começar a captura?')" href="/configuracoes/capturarCubo">Capturar cubo</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-info" href="/configuracoes/adicionarCompilador">Adicionar Compilador</a>
                    </div>
                    <h3 class="text-center mb-3">Lista de compiladores</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Extensão</th>
                                <th>Comando</th>
                                <th>Tipo de Entrada</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if compiladores %}
                                {% for compilador in compiladores %}
                                    <tr>
                                        <td>{{compilador.id}}</td>
                                        <td>{{compilador.extensao}}</td>
                                        <td>{{compilador.comando}}</td>
                                        <td>{{compilador.tipoEntrada}}</td>
                                        <td> 
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Ações
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="/configuracoes/editarCompilador/{{compilador.id}}"><i class="fas fa-edit"></i> Editar</a>
                                                    <a class="dropdown-item text-danger" href="/configuracoes/excluirCompilador/{{compilador.id}}" onclick="return confirm('Tem certeza que deseja excluir este compilador?')"><i class="fas fa-trash"></i> Excluir</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="5">Nenhum registro encontrado</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-info" href="/configuracoes/adicionarCadastro">Adicionar Cadastro</a>
                    </div>
                    <h3 class="text-center mb-3">Lista de cadastros</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data Adicionado</th>
                                <th>Tipo</th>
                                <th>Nome</th>
                                <th>Usuário</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if cadastros %}
                                {% for cadastro in cadastros %}
                                    <tr>
                                        <td>{{cadastro.id}}</td>
                                        <td>{{cadastro.data_adicionado}}</td>
                                        <td>{{cadastro.tipo}}</td>
                                        <td>{{cadastro.nome}}</td>
                                        <td>{{cadastro.usuario}}</td>
                                        <td> 
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Ações
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="/configuracoes/editarCadastro/{{cadastro.id}}"><i class="fas fa-edit"></i> Editar</a>
                                                    <a class="dropdown-item text-danger" href="/configuracoes/excluirCadastro/{{cadastro.id}}" onclick="return confirm('Tem certeza que deseja excluir este cadastro?')"><i class="fas fa-trash"></i> Excluir</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="6">Nenhum registro encontrado</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>