{% include 'header.html' %}
    <div class="mx-auto">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="text-center mb-3"><strong>Lista de envios</strong></h2>
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-3">Envio de Arquivos</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Data Adicionado</th>
                                <th>Arquivo</th>
                                <th>Extensão</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if envios %}
                                {% for envio in envios %}
                                    <tr>
                                        <td>{{envio.env_id}}</td>
                                        {% if envio.env_status == 0 %}
                                            <td><span class="badge badge-warning">Análise Pendente</span></td>
                                        {% elif envio.env_status == 1 %}
                                            <td><span class="badge badge-success">Sucesso</span></td>
                                        {% elif envio.env_status == 2 %}
                                            <td><span class="badge badge-danger">Falha</span></td>
                                        {% endif %}
                                        <td>{{envio.env_data_adicionado}}</td>
                                        <td>{{envio.env_filename}}</td>
                                        <td>{{envio.env_extensao}}</td>
                                        <td> 
                                            {% if envio.env_status == 1 %}
                                                <div class="dropdown">
                                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Ações
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="/listaEnvios/enviarRobo/{{envio.env_id}}"><i class="fa fa-file-import"></i> Enviar para o robô</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="6">Nenhum registro encontrado</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h3>Envios para Robô</h3>
                        <small><strong>*O envio ocorre de forma periódica mediante uma fila, aguarde a execução.</strong></small>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Data Adicionado</th>
                                <th>ID do envio</th>
                                <th>Arquivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if enviosRobo %}
                                {% for robo in enviosRobo %}
                                    <tr>
                                        <td>{{robo.rob_id}}</td>
                                        {% if robo.rob_status == 0 %}
                                            <td><span class="badge badge-warning">Envio Pendente</span></td>
                                        {% elif robo.rob_status == 1 %}
                                            <td><span class="badge badge-info">Enviado</span></td>
                                        {% endif %}
                                        <td>{{robo.rob_data_adicionado}}</td>
                                        <td>{{robo.rob_idenvio}}</td>
                                        <td>{{robo.env_filename}}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="5">Nenhum registro encontrado</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>