{% include 'header.html' %}
    <div class="mx-auto">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="text-center mb-3"><strong>Lista de envios</strong></h2>
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-3">Envio de Arquivos</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Data Adicionado</th>
                                <th>Arquivo</th>
                                <th>Extensão</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if envios %}
                                {% for envio in envios %}
                                    <tr>
                                        <td>{{envio.id}}</td>
                                        {% if envio.status == 0 %}
                                            <td><span class="badge badge-warning">Análise Pendente</span></td>
                                        {% elif envio.status == 1 %}
                                            <td><span class="badge badge-success">Sucesso</span></td>
                                        {% elif envio.status == 2 %}
                                            <td><span class="badge badge-danger">Falha</span></td>
                                        {% endif %}
                                        <td>{{envio.data_adicionado}}</td>
                                        <td>{{envio.filename}}</td>
                                        <td>{{envio.extensao}}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="5">Nenhum registro encontrado</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="text-center mb-3">Envio para Robô</h3>

                    <!-- <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data Adicionado</th>
                                <th>Tipo</th>
                                <th>Nome</th>
                                <th>Usuário</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if cadastros %}
                                {% for cadastro in cadastros %}
                                    <tr>
                                        <td>{{cadastro.id}}</td>
                                        <td>{{cadastro.data_adicionado}}</td>
                                        <td>{{cadastro.tipo}}</td>
                                        <td>{{cadastro.nome}}</td>
                                        <td>{{cadastro.usuario}}</td>
                                        <td> 
                                            <div class="dropdown">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Ações
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="/configuracoes/editarCadastro/{{cadastro.id}}"><i class="fas fa-edit"></i> Editar</a>
                                                    <a class="dropdown-item text-danger" href="/configuracoes/excluirCadastro/{{cadastro.id}}" onclick="return confirm('Tem certeza que deseja excluir este cadastro?')"><i class="fas fa-trash"></i> Excluir</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="6">Nenhum registro encontrado</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>