{% include 'header.html' %}

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="container px-3 py-3 pt-md-5 pb-md-4 mb-3 mx-auto text-center">
		<h1>Como funciona?</h1>
		<p>Você monta seu código recebendo as entradas via console e as saídas devem seguir o padrão de
			movimento.</p>
		<div class="row justify-content-md-center mt-3">
			<div class="col-md-6">
				<h3 class="mt-5">Formato de entrada:</h3>
				<div class="card">
					<div class="card-body">
						<div class="row justify-content-md-center">
							<h3 class="card-title"><strong>Cubo de Rubik</strong></h3>
						</div>
						<div class="d-flex justify-content-center mb-3">
							<table celspacing="0" celpadding="0">
								<tr>
									<td></td>
									<td>
										<table>
											<tr>
												<td style="{{cubo[0]}}">1</td>
												<td style="{{cubo[1]}}">2</td>
												<td style="{{cubo[2]}}">3</td>
											</tr>
											<tr>
												<td style="{{cubo[3]}}">4</td>
												<td style="{{cubo[4]}}">U</td>
												<td style="{{cubo[5]}}">6</td>
											</tr>
											<tr>
												<td style="{{cubo[6]}}">7</td>
												<td style="{{cubo[7]}}">8</td>
												<td style="{{cubo[8]}}">9</td>
											</tr>
										</table>
									</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<table>
											<tr>
												<td style="{{cubo[9]}}">10</td>
												<td style="{{cubo[10]}}">11</td>
												<td style="{{cubo[11]}}">12</td>
											</tr>
											<tr>
												<td style="{{cubo[12]}}">13</td>
												<td style="{{cubo[13]}}">L</td>
												<td style="{{cubo[14]}}">15</td>
											</tr>
											<tr>
												<td style="{{cubo[15]}}">16</td>
												<td style="{{cubo[16]}}">17</td>
												<td style="{{cubo[17]}}">18</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td style="{{cubo[18]}}">19</td>
												<td style="{{cubo[19]}}">20</td>
												<td style="{{cubo[20]}}">21</td>
											</tr>
											<tr>
												<td style="{{cubo[21]}}">22</td>
												<td style="{{cubo[22]}}">F</td>
												<td style="{{cubo[23]}}">24</td>
											</tr>
											<tr>
												<td style="{{cubo[24]}}">25</td>
												<td style="{{cubo[25]}}">26</td>
												<td style="{{cubo[26]}}">27</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td style="{{cubo[27]}}">28</td>
												<td style="{{cubo[28]}}">29</td>
												<td style="{{cubo[29]}}">30</td>
											</tr>
											<tr>
												<td style="{{cubo[30]}}">31</td>
												<td style="{{cubo[31]}}">R</td>
												<td style="{{cubo[32]}}">33</td>
											</tr>
											<tr>
												<td style="{{cubo[33]}}">34</td>
												<td style="{{cubo[34]}}">35</td>
												<td style="{{cubo[35]}}">36</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td style="{{cubo[36]}}">37</td>
												<td style="{{cubo[37]}}">38</td>
												<td style="{{cubo[38]}}">39</td>
											</tr>
											<tr>
												<td style="{{cubo[39]}}">40</td>
												<td style="{{cubo[40]}}">B</td>
												<td style="{{cubo[41]}}">42</td>
											</tr>
											<tr>
												<td style="{{cubo[42]}}">43</td>
												<td style="{{cubo[43]}}">44</td>
												<td style="{{cubo[44]}}">45</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<table>
											<tr>
												<td style="{{cubo[45]}}">46</td>
												<td style="{{cubo[46]}}">47</td>
												<td style="{{cubo[47]}}">48</td>
											</tr>
											<tr>
												<td style="{{cubo[48]}}">49</td>
												<td style="{{cubo[49]}}">D</td>
												<td style="{{cubo[50]}}">51</td>
											</tr>
											<tr>
												<td style="{{cubo[51]}}">52</td>
												<td style="{{cubo[52]}}">53</td>
												<td style="{{cubo[53]}}">54</td>
											</tr>
										</table>
									</td>
									<td></td>
								</tr>
							</table>
						</div>
						<small>F - Front / D - Down / R - Right / U - Upper / B - Back / L - Left</small>
						<br>
						<small><strong>*As cores dos centros podem ser diferentes em cada teste</strong></small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3 class="mt-5">Formato de saída:</h3>
				<div class="card">
					<div class="card-body">
						<div class="row justify-content-md-center">
							<h3 class="card-title"><strong>Movimentos</strong></h3>
						</div>
						<div class="row justify-content-md-center my-2 bg-info text-white">
							<div class="col-lg-4">
								<strong>Horário 90°</strong>
							</div>
							<div class="col-lg-4">
								<strong>Face</strong>
							</div>
							<div class="col-lg-4">
								<strong>Anti-Horário 90°</strong>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>F</strong></span></h5>
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo fa-flip-horizontal"></i>
							</div>
							<div class="col-lg-3 align-self-center">
								Front
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo"></i>
							</div>
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>F'</strong></span></h5>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>B</strong></span></h5>
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo fa-flip-horizontal"></i>
							</div>
							<div class="col-lg-3 align-self-center">
								Back
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo"></i>
							</div>
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>B'</strong></span></h5>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>R</strong></span></h5>
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo fa-flip-horizontal"></i>
							</div>
							<div class="col-lg-3 align-self-center">
								Right
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo"></i>
							</div>
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>R'</strong></span></h5>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>L</strong></span></h5>
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo fa-flip-horizontal"></i>
							</div>
							<div class="col-lg-3 align-self-center">
								Left
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo"></i>
							</div>
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>L'</strong></span></h5>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>U</strong></span></h5>
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo fa-flip-horizontal"></i>
							</div>
							<div class="col-lg-3 align-self-center">
								Upper
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo"></i>
							</div>
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>U'</strong></span></h5>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>D</strong></span></h5>
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo fa-flip-horizontal"></i>
							</div>
							<div class="col-lg-3 align-self-center">
								Down
							</div>
							<div class="col-lg-1">
								<i class="fas fa-sm fa-undo"></i>
							</div>
							<div class="col-lg-3">
								<h5><span class="badge badge-secondary"><strong>D'</strong></span></h5>
							</div>
						</div>
						<div class="row justify-content-md-center mt-3">
							<small>
								<i class="fa fa-info-circle"></i>
								<a href="http://dan-scientia.blogspot.com/2011/02/os-movimentos-no-cubo-magico.html"
									target="_blank" rel="noopener noreferrer">Quer saber mais sobre os movimentos do
									cubo de
									Rubik?</a>
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3 class="mt-5 text-center mb-3">Exemplo: </h3>
		<div class="card text-left">
			<div class="card-body">
				<div class="row justify-content-md-center mt-3">
					<div class="col-md-6 border-right">
						<h5><strong>Exemplo de entrada JSON:</strong></h5>
						<small>
							{
							<br>
							"Upper":    {"0": "o", "1": "w", "2": "g", "3": "y", "4": "y", "5": "b", "6": "b", "7": "b", "8": "b"},
							<br>
							"Left":     {"0": "y", "1": "b", "2": "w", "3": "g", "4": "g", "5": "w", "6": "r", "7": "w", "8": "r"},
							<br>
							"Front":    {"0": "r", "1": "o", "2": "o", "3": "g", "4": "o", "5": "g", "6": "y", "7": "y", "8": "o"},
							<br>
							"Right":    {"0": "w", "1": "r", "2": "o", "3": "o", "4": "b", "5": "o", "6": "w", "7": "y", "8": "g"},
							<br>
							"Back":     {"0": "y", "1": "r", "2": "b", "3": "w", "4": "r", "5": "r", "6": "w", "7": "y", "8": "y"},
							<br>
							"Down":     {"0": "g", "1": "o", "2": "g", "3": "b", "4": "w", "5": "r", "6": "b", "7": "g", "8": "r"}
							<br>
							}
							<br>
						</small>
					</div>
					<div class="col-md-6">
						<h5><strong>Exemplo de saída:</strong></h5>
						<small>
							L' B' U B' R' L L D' R R B L' F U U B B D F F U D F F B B R R
						</small>
					</div>
				</div>
				<div class="row justify-content-md-center mt-3">
					<div class="col-md-6 border-right">
						<h5><strong>Exemplo de entrada de texto:</strong></h5>
						<small>
						 	bbggyoyggyrryrybrbgooggworgybwooywbbowrobrwwwywrbwyrgo
						</small>
					</div>
					<div class="col-md-6">
						<h5><strong>Exemplo de saída:</strong></h5>
						<small>
							D D L' U R' L' F' D D B' R B D B B D L L U U B B U' L L F F U
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if extensions %}
		<div class="bg-secondary text-white">
			<div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<h2>Fazer upload do arquivo</h2>
				<p>Extensões permitidas (Tipo de entrada):
						{% for extension in extensions %}
							<strong>.{{ extension.extensao }}</strong> ({{ extension.tipoEntrada }}),
						{% endfor %}</p>
				<form method="post" action="/home/upload" enctype="multipart/form-data">
					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
							aria-describedby="inputGroupFileAddon01" accept="{{allowedExtentions}}">
							<label class="custom-file-label" for="inputGroupFile01">Escolher arquivo</label>
						</div>
					</div>
					<div class="text-center">
						<input class="btn btn-success" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	{% endif %}
	
	<div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h3>Fila de execução</h3>
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Handle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>

<script>
	$('#inputGroupFile01').on('change',function(){
		var fileName = $(this).val();
		$(this).next('.custom-file-label').html(fileName);
	})

	// var app = new Vue({
	// 	el: '#config',
	// 	data: {
	// 		configs: []
	// 	},
	// 	methods : {
	// 		loadMore : function(evt) {
	// 			let url = '';
	// 			this.$http.get(url).then(function(request) {
	// 				this.informativos = this.informativos.concat(request.body);
	// 			});
	// 		},
	// 		getCount : function() {
	// 			let url = base_url + 'backoffice/informativos/getCountInformativosAjax';
	// 			this.$http.get(url).then(function(request) {
	// 				this.count = request.body.qty;
	// 			})
	// 		}
	// 	},
	// 	delimiters:['({','})']
	// });
	// app.getCount();
	// app.loadMore();
</script>